@model Literary_Arts.Models.ArticleModel

@{
    ViewBag.Title = "討論區";
}

<link href="../../Content/css/articleList.css" rel="stylesheet" type="text/css" />
@Html.AntiForgeryToken()
<!-- 文章列表區塊 -->
<section id="articleList">
    <div class="container-fluid article">
        <center>
            <h3>文章列表</h3>
            <hr class="highlight">
        </center>
        <div class="d-flex justify-content-center" style="margin-bottom: 1.5em">
            <button type="button" class="btn btn-secondary footer"
                    onclick="location.href='@Url.Action("ContentClass", "Article")?arti_class=' + '@SysSet.GetParamItemValue("LITERARY_CLASS_ENG", "01")' ">
                電影類
            </button>
            <button type="button" class="btn btn-secondary footer"
                    onclick="location.href='@Url.Action("ContentClass", "Article")?arti_class=' + '@SysSet.GetParamItemValue("LITERARY_CLASS_ENG", "02")' ">
                音樂類
            </button>
            <button type="button" class="btn btn-secondary footer"
                    onclick="location.href='@Url.Action("ContentClass", "Article")?arti_class=' + '@SysSet.GetParamItemValue("LITERARY_CLASS_ENG", "03")' ">
                書籍類
            </button>
            <button type="button" class="btn btn-secondary footer"
                    onclick="location.href='@Url.Action("ContentClass", "Article")?arti_class=' + '@SysSet.GetParamItemValue("LITERARY_CLASS_ENG", "04")' ">
                展覽類
            </button>
            <button type="button" class="btn btn-secondary footer"
                    onclick="location.href='@Url.Action("Index", "Article")' ">
                全部
            </button>
        </div>

        <!-- 文章區塊 -->
        <div class="row d-flex justify-content-center no-gutters">
            <div class="col-12 mb-3 col-lg-8 ">
                <!-- list -->
                @foreach (var item in ViewBag.ArticleList)
                {
                    <div class="card shadow list " style="cursor:pointer; ">
                        <div class="card-body" onclick="location.href='@Url.Action("Content", "Article")?arti_num=' + @item.ARTI_NUM">
                            <div class="poster d-flex justify-content-between">
                                <div class="name">
                                    <div style="white-space:nowrap !important">
                                        <a class="floorTag"> @item.MEM_DISPLAY</a>
                                        <a class="next"></a>
                                        <a class="dateTime">於 @item.CRT_DATE 發佈</a>
                                    </div>
                                </div>
                                <div class="ml-auto">
                                    <a class="itemClass"> @item.ARTI_CLASS </a>
                                </div>
                            </div>
                            <hr style="margin-top: 0.5em">
                            <div class="row seperate">
                                <div class="col-sm-9 articleContent">
                                    <h3 class="card-title ">
                                        @item.ARTI_HEAD
                                    </h3>
                                    <p class="card-text limitLine">
                                        @item.ARTI_CONT
                                    </p>

                                    <!-- tag -->
                                    <div class=" tagDiv col-lg-12 ">
                                        @foreach (var tag in ViewBag.TagData)
                                        {
                                            if (tag.ARTI_NUM == item.ARTI_NUM)
                                            {
                                                <button type="button" class="btn  tag"> @tag.TAG_NAME </button>
                                            }
                                        }
                                    </div>
                                </div>

                                <!-- imgs  -->
                                <div class="wrapperCard card-img-top col-lg-3"
                                     style="background-image: url( '../../Content/images/17.jpg'); ">
                                </div>
                            </div>
                        </div>
                        <!-- info -->
                        <div class="info">
                            <!-- 愛心按鈕 -->
                            @{
                                var likeList = (IList<Literary_Arts.Models.ArticleModel>)ViewBag.likeList;
                                if (likeList.Where(x => x.ARTI_NUM == item.ARTI_NUM).Count() > 0)
                                {
                                    <button type="button" id="userLike_@item.ARTI_NUM" class="btn postInfo" style="color:red;" onclick="clickLike(@item.ARTI_NUM,'01',false)">
                                        <i class="fab fa-gratipay"></i>
                                        <a id="likeCount_@item.ARTI_NUM"> @item.LIKE_COUNT </a>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" id="'userLike_@item.ARTI_NUM" class="btn postInfo" onclick="clickLike(@item.ARTI_NUM,'01',false)">
                                        <i class="fab fa-gratipay"></i>
                                        <a id="likeCount_@item.ARTI_NUM"> @item.LIKE_COUNT </a>
                                    </button>
                                }
                            }

                            <!-- 留言數量按鈕 -->
                            <button type="button" class="btn postInfo" onclick="location.href='#'">
                                <i class="fas fa-comment-dots"></i>
                                <a> @item.REPLY_COUNT </a>
                            </button>

                            @{
                                var CollList = (IList<Literary_Arts.Models.ArticleModel>)ViewBag.CollList;
                                if (CollList == null) { CollList = new List<Literary_Arts.Models.ArticleModel>(); }
                                if (CollList.Where(x => x.ARTI_NUM == item.ARTI_NUM).Count() > 0)
                                {
                                    <!-- 收藏按鈕(點擊狀態) -->
                                    <button type="button" id="userColl_@item.ARTI_NUM" class="btn postInfo" onclick="clickCollection(@item.ARTI_NUM,'01')">
                                        <i id="i_userColl_@item.ARTI_NUM" class="fas fa-bookmark"></i>
                                    </button>
                                }
                                else
                                {
                                    <!-- 收藏按鈕 -->
                                    <button type="button" id="userColl_@item.ARTI_NUM" class="btn postInfo" onclick="clickCollection(@item.ARTI_NUM,'01')">
                                        <i id="i_userColl_@item.ARTI_NUM" class="far fa-bookmark"></i>
                                    </button>
                                }
                            }
                        </div>
                        <!-- info結束 -->
                    </div>
                    <div class="w-100"></div>
                                }
                <!-- listEnd -->
            </div>
        </div>
        <nav aria-label="Page navigation example" style="margin-bottom: 4em;">
            <ul class="pagination justify-content-center">
                <li class="page-item previous">
                    <a class="page-link" href="#/" onclick="location.href=`/articleList/${pagePrevious}`" tabindex="-1" aria-disabled="true"><i class="fas fa-chevron-left"></i></a>
                </li>
                <li class="page-item"><a class="page-link" href="#"></a></li>
                <li class="page-item next">
                    <a class="page-link" href="#/" onclick="location.href=`/articleList/${pageNext}`"><i class="fas fa-chevron-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<!-- 文章列表區塊結束 -->

<a href="#" id="gotop">
    <i class="fa fa-angle-up"></i>
</a>

<script>
    $(function () {
        //如果使用瀏覽器的 「上/下一頁」 且 有登入的話，要重新reload 愛心跟收藏狀態
        //防止user點進文章 > 點愛心 > 上一頁 > 愛心狀態沒更改 的快取問題
        if (window.performance.navigation.type == 2) {
            if ('@(((Literary_Arts.Models.MemberUserModel)ViewBag.GetLoginUser()).MEM_ID)' != "") {
                $.ajax({
                    url: "/Article/GetBackForwardData",
                    type: "POST",
                    dataType: "JSON",
                    success: function (res) {
                        var likeCountList = res.likeCountList;
                        var userLikeList = res.userLikeList;
                        var userCollList = res.userCollList;

                        //重新計算每一篇文章的愛心數量
                        $.each(likeCountList, function (key, value) {
                            var num = value.ARTI_NUM;
                            var count = value.LIKE_COUNT;
                            $("#likeCount_" + num).text(count);

                            //將全部文章愛心變黑色
                            $("#userLike_" + num).css({ "color": "" });

                            //將收藏全部變成 "未收藏" 狀態
                            $("#i_userColl_" + num).removeClass("fas").addClass("far");
                        })

                        //將點過的愛心變紅色
                        $.each(userLikeList, function (key, value) {
                            var num = value.ARTI_NUM;
                            $("#userLike_" + num).css({ "color": "red" });
                        })

                        //將點過的收藏全部變成 "收藏" 狀態
                        $.each(userCollList, function (key, value) {
                            var num = value.ARTI_NUM;
                            
                            $("#i_userColl_" + num).removeClass("far").addClass("fas");
                        })

                    }, error: function (ex) {

                    }
                })
            }
            
        }
    })
</script>