@model Literary_Arts.Models.RecommendModel

@{
    ViewBag.Title = "Content";
}

<link href="~/Content/css/article.css" rel="stylesheet" type="text/css" />

<!-- 使用者發文 -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 content shadow">
            <div class="info d-flex">
                <div><a class="floorTag">管理員</a></div>
                <div style="white-space:nowrap !important">
                    <a>文藝青年</a>
                    <a class="next"></a>
                    <a class="dateTime">於 @Model.CRT_DATE 發佈</a>
                </div>
                <div class="dropdown ml-auto" style="margin-bottom: -0.5em">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <!-- 編輯按鈕 -->
                    <div class="dropdown-menu dropdown-menu-right dotMenu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/Recommend/Update">編輯</a>
                        <a class="dropdown-item" href="#/" onclick=""> 刪除</a>
                    </div>
                </div>
            </div>
            <hr style="margin-top: 0.5em" />
            <h5>@Model.RECOM_HEAD</h5>
            <hr />

            <p class="content">
               @Model.RECOM_CONT
            </p>

            <!-- tag -->
            <div class="tagDiv col-lg-12 ">
                @foreach (var item in ViewBag.TagData)
                {
                    <button type="button" class="btn tag"> @item.TAG_NAME</button>
                }
            </div>

            <hr class="info">
            <!-- info -->
            <div class="info">
                <!-- 愛心按鈕 -->
                <button type="button" id="LikeUnLogIn" class="btn postInfo" onclick="">
                    <i class="fab fa-gratipay"></i>
                    <a> @Model.LIKE_COUNT </a>
                </button>
                @*<button type="button" id="addLike" class="btn postInfo" style="display:none"
                            onclick=<%= "addLike(" + items[0][0].recomNum + ")" %>> <i class="fab fa-gratipay"></i><a
                                id="addLikeCount"> <%= items[0][0].likeCount %> </a></button>
                    <button type="button" id="delLike" class="btn postInfo" style="display: none"
                            onclick=<%= "delLike(" + items[0][0].recomNum + ")" %>><i class="fab fa-gratipay"
                                style="color:#c93737;"></i><a id="delLikeCount"><%= items[0][0].likeCount %></a></button>*@

                <!-- 留言數量按鈕 -->
                <button type="button" class="btn postInfo" id="goBottom">
                    <i class="fas fa-comment-dots"></i>
                    <a> @Model.REPLY_COUNT </a>
                </button>

                <!-- 收藏按鈕 -->
                <button type="button" id="unLogIn" class="btn postInfo" onclick="">
                    <i class="far fa-bookmark"></i>
                </button>

                @*<button type="button" id="addColle" class="btn postInfo" style="display:none"
                            onclick=<%= "addColle(" + items[0][0].recomNum + ")" %>>
                            <i class="far fa-bookmark"></i></button>

                    <button type="button" id="delColle" class="btn postInfo" style="display:none"
                            onclick=<%= "delColle(" + items[0][0].recomNum + ")" %>>
                            <i class="fas fa-bookmark"></i></button>*@

            </div>
        </div>
        <!-- info結束 -->
    </div>

    <!-- 使用者發文結束' -->
    <div class="row justify-content-center">
        <div class="preferLi content shadow col-lg-8 justify-content-center">
            <h5 style="color: rgb(83, 83, 83);text-align: left !important;">你可能會喜歡的文章</h5>
            <hr class="smallMagin">
            <ul class="liContainer" style="text-align: left !important;">
                <li>
                    <a href="#">
                        推薦標題
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <center>
        <h4>文章留言</h4>
        <hr class="separate">
    </center>

    <!-- 文章留言 -->

    <div class="row justify-content-center">
        <div class="col-lg-8 content shadow">
            <!-- 文章留言 -->
            <div class="message">
                <!-- info -->
                <div class="info d-flex justify-content-between">
                    <div><a class="floorTag"> 1 樓</a></div>
                    <div style="white-space:nowrap !important">
                        <a class="name"> 留言者名稱 </a>
                        <a class="next"></a>
                        <a class="dateTime">於 留言時間 留言</a>
                    </div>
                    <!-- 愛心按鈕 -->
                    <div class="col-sm-1 ml-auto likeContainer">
                        <button type="button" id="MessLikeUnLogIn" class="btn like" style="display:none" onclick="location.href='/login'">
                            <i class="fab fa-gratipay"></i>
                            <a> 3 </a>
                        </button>
                        @*<button type="button"
                                    id=<%= "MessAddLike"+ items[0][0].recomNum + items[1][i].recomMessNum %>
                                    class="btn like" style="display:none"
                                    onclick=<%= "MessAddLike(" + items[0][0].recomNum + "," + items[1][i].recomMessNum + ")" %>>
                                    <i class="fab fa-gratipay"></i>
                                    <a id=<%="MessAddLikeCount" + items[0][0].recomNum + items[1][i].recomMessNum %>>
                                        <%= items[1][i].likeCount %>
                                    </a>
                                </button>

                            <button type="button"
                                    id=<%= "MessDelLike" + items[0][0].recomNum + items[1][i].recomMessNum %>
                                    class="btn like" style="display:none"
                                    onclick=<%= "MessDelLike(" + items[0][0].recomNum + "," + items[1][i].recomMessNum + ")" %>>
                                    <i class="fab fa-gratipay" style="color:#c93737"></i>
                                    <a id=<%= "MessDelLikeCount" + items[0][0].recomNum + items[1][i].recomMessNum %>>
                                        <%= items[1][i].likeCount %></a>
                                </button>*@
                    </div>
                </div>
                <hr class="smallMagin">

                <!-- info結束 -->
                <p class="content"> 推薦留言內容 </p>
                <hr>

                <!-- 檢舉按鈕 -->
                <button type="button" class="btn report postReport" id="postReport" data-toggle="modal"
                        data-target="#recomMessReportPost">
                    檢舉
                </button>

                <!-- 編輯、刪除按鈕 -->
                <div class="dropdown ml-auto float-right dropup">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dotMenu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/Recommend/UpdateReply">編輯</a>
                        <a class="dropdown-item" href="#/"
                           onclick="">刪除</a>
                    </div>
                </div>
            </div>

        </div>

        <!-- 推薦留言檢舉區塊 -->
        <div class="modal fade" id="recomMessReportPost" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">檢舉</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body" style="padding:1em;">
                            <textarea class="report" name="reportReason" id="messReportReason"
                                      placeholder="輸入檢舉原因"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="messReport" class="btn btn-danger"
                                    onclick="">
                                提交
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- 推薦留言結束 -->
    <!-- replying -->
    <div class="row replying justify-content-center" id="reply" spellcheck="false">
        <div class="col-lg-8 content shadow">
            <div class="replyInput" id="replyInput" contenteditable="true" role="textbox" data-text="請輸入回覆內容"></div>
            <label class="btn btn-dark col-lg-2" style="cursor: pointer">

                <input id="file-selector" type="file" multiple="multiple" accept=".jpg,.png,.gif,.tif,.bmp" />
                <i class="fas fa-images" style="padding-right:5px"></i>加圖片

            </label>

            <button type="submit" class="btn btn-danger float-right submitReplyButton col-lg-2"
                    onclick="">
                提交
            </button>
        </div>
    </div>
    <!-- replying end -->
</div>

<a href="#" id="gotop">
    <i class="fa fa-angle-up"></i>
</a>

<!-- <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
</div> -->
<div class='coverContainer'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>

