@model Literary_Arts.Models.IndexModel
@{
    ViewBag.Title = "首頁";
}

<!-- 封面區塊 -->
<div class="banner">
    <a id="goDown">
        <i class="fas fa-chevron-circle-down"></i>
    </a>
    <div id="block" class="block">
    </div>
</div>
<!-- 封面區塊結束 -->
<!-- Portfolio Section -->
<section id="portfolio">
    <center>
        <h2>本週精選推薦</h2>
        <hr class="highlight">
    </center>

    <div class="row d-flex no-gutters container-fluid justify-content-center align-items-center recommend">
        @{
            int i = 1;
            foreach (var item in ViewBag.RecomData)
            {
                <!-- 電影類推薦 -->
                <div class="wrapper col-12  col-lg-4" style="background-image: url('../../Content/images/18.jpg'" data-aos="fade-right">
                    <a class="portfolio-box" href="recommend.html">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                <p>@item.RECOM_CLASS</p>
                            </div>
                            <div class="project-name">
                                <p class="title">@item.RECOM_HEAD</p>
                                <p class="content wrapText">
                                    @item.RECOM_CONT
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                if (i == 2)
                {
                    <div class="w-100"></div>
                    i = 0;
                }
                i += 1;

            }
        }

    </div>
</section>

<!--情緒專區-->
<div class="sentimentSection container-fluid d-flex justify-content-center" id="sentimentSection">
    <div class="row col-sm-8">
        <div class="sentimentTitle col-lg-12">
            <center>
                <h2>情緒專區</h2>
                <hr class="highlight">
            </center>
            <h6>
                「情緒，其實是一種能量，也是一種指引，<br />
                當它向浪潮一般撲襲而來，你能做的就是任它流淌而過，<br />
                只有感受過，你才得以在人生大海中繼續航行。」 ---- 留佩萱《療癒，從感受情緒開始》<br />
                文藝富心不將情緒區分好壞，我們認為每一種情緒都很重要，<br />
                我們會對文藝富心所有文本進行情感分析，你可以在這體會到不同的情緒。
            </h6>
            <hr>
        </div>
        <div class="col-lg-6 no-gutters cardStyle">
            <h5 style="font-weight: bold;">
                <i class="fas fa-caret-right"
                   style="margin:0 0.5em; color: #ffad33; font-size: 28px;"></i>燦爛、溫暖
            </h5>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:bold;">文章標題</h5>
                    <hr>
                    <p class="card-text positive">文章內容</p>
                    <a href="#" class="btn btn-light float-right">進入文章查看更多</a>
                </div>
                <div class="wrapperCardbig card-img-bottom"
                     style="background-image: url('../../Content/images/18.jpg')">
                </div>
            </div>
        </div>
        <div class="col-lg-6 no-gutters cardStyle">
            <h5 style="font-weight: bold;">
                <i class="fas fa-caret-right"
                   style="margin:0 0.5em; color: #1268a2; font-size: 28px;"></i>惆悵、漣漪
            </h5>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:bold;">文章標題</h5>
                    <hr>
                    <p class="card-text negative">文章內容</p>
                    <a href="#" class="btn btn-light float-right">進入文章查看更多</a>
                </div>
                <div class="wrapperCardbig card-img-bottom"
                     style="background-image: url('../../Content/images/17.jpg'); ">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 熱門文章區塊 -->

<section id="hotArticle">
    <div class="container hotArticle">
        <center>
        </center>
        <div class="row">
            <div class="w-100">
                <h2 style="margin-left:0.5em;">大家都在讀</h2>
                <hr class="leftSeperate">
            </div>
            <div class="col-lg-7">
                <div class="card  shadow" onclick="location.href='article.html'" style="cursor:pointer;">

                    <div class="card-body">
                        <h3 class="card-title">
                            @ViewBag.HotArtiData[0].ARTI_HEAD
                        </h3>
                        <p class="card-text wrapBigHotSectionText">
                            @ViewBag.HotArtiData[0].ARTI_CONT
                        </p>

                        <p class="poster">
                            小美 於 @ViewBag.HotArtiData[0].CRT_DATE 發佈
                        </p>

                        <div class="tagDiv">
                            <button type="button" class="btn  tag">黎明的承諾</button>
                            <button type="button" class="btn  tag">壓抑沉鬱</button>
                            <button type="button" class="btn  tag">法國</button>
                            <button type="button" class="btn  tag">大時代</button>
                            <button type="button" class="btn  tag">大時代</button>

                        </div>
                    </div>

                    <div class="wrapperCardbig card-img-bottom" style="background-image: url('../../Content/images/testImgs/19.jpeg');">
                    </div>
                </div>
            </div>
            <!-- 精選右邊上面的格子 -->
            <div class=" col-lg-5">
                <div class="card shadow" onclick="location.href='article.html'" style="cursor:pointer;">

                    <div class="card-body">
                        <h3 class="card-title">
                            @ViewBag.HotArtiData[1].ARTI_HEAD
                        </h3>
                        <p class="card-text wrapText">
                            @ViewBag.HotArtiData[0].ARTI_CONT
                        </p>
                        <p class="poster">
                            阿明 於 @ViewBag.HotArtiData[0].CRT_DATE 發佈
                        </p>
                        <div class="tagDiv">
                            <button type="button" class="btn  tag">汪冠宇</button>
                            <button type="button" class="btn  tag">海浪</button>
                            <button type="button" class="btn  tag">溫暖歌聲</button>
                        </div>
                    </div>

                    <div class="wrapperCardSmall card-img-top" style="background-image: url('../../Content/images/testImgs/19.jpeg');">
                    </div>
                </div>
                <!-- 精選右邊上面的格子結束 -->
                <!-- 精選右邊下面的格子 -->
                <div class="card shadow" onclick="location.href='article.html'" style="cursor:pointer;">

                    <div class="card-body">
                        <h3 class="card-title">
                            @ViewBag.HotArtiData[2].ARTI_HEAD
                        </h3>
                        <p class="card-text wrapText">
                            @ViewBag.HotArtiData[2].ARTI_CONT
                        </p>
                        <p class="poster">
                            阿華 於 @ViewBag.HotArtiData[2].CRT_DATE 發佈
                        </p>
                        <div class="tagDiv">
                            <button type="button" class="btn  tag">華山</button>
                            <button type="button" class="btn  tag">自然森活</button>
                            <button type="button" class="btn  tag">再生資源</button>

                        </div>
                    </div>

                    <div class="wrapperCardSmall card-img-top" style="background-image: url('../../Content/images/testImgs/19.jpeg');">
                    </div>

                </div>

            </div>
            <!-- 精選右邊下面的格子結束 -->

        </div>

        <div class="col-12 goArticleList">
            <button type="button" class="btn goArticle" onclick="location.href='articleList.html'">
                <h5>前往文章列表 <i class="fas fa-arrow-alt-circle-right"></i></h5>
            </button>

        </div>
    </div>
</section>
<!-- 熱門文章區塊結束 -->
<!-- footer-->
<div class="container-fluid footer d-flex justify-content-center row" id="footer">
    <div class="col-lg-2"></div>
    <div class="col-lg-4 aboutUs">
        <h5>關於我們：</h5>
        <p>
            我們身處在一個資料越來越多、意義越來越少的世代，源源不絕的資訊不僅讓人失去學習的熱忱，也錯過了許多生命中原有的樂趣。文藝富心彙整藝文相關資訊與提供討論的空間，讓使用者能在幾分鐘之內得到完善的資訊，也提供一個安靜的角落給使用者喘息休憩。
        </p>
        <h5>聯絡我們：</h5>
        <p>LiteraryArts@gmail.com</p>

    </div>

    <div class="col-lg-4 aboutUs">
        <h5>常見問題：</h5>
        <p>獎勵機制：在推薦底下的留言，我們會透過點擊次數以及愛心次數來篩選出最佳留言，將會寄送精美小獎品給最佳留言者。</p>
        <p>申報機制：只要對於我們的系統有任何建議，都可以透過申報通知系統管理員，讓文藝富心團隊能夠改進，提供給使用者更好的環境</p>
        <h5>
            文藝富心官方Line：
            <a href="https://line.me/R/ti/p/%40240qtneo">
                <img src="../../Content/images/icon/lineIcon.png" alt="" style="height: 50px;">
            </a>
        </h5>

    </div>
    <div class="col-lg-2">
    </div>

</div>


<!-- 葉子 燈泡區塊-->
<div href="#" class="surpriseSection" style="cursor: pointer;" data-toggle="modal"
     data-target="#surpriseSectionContainer">
    <a class="surpriseHoverText" style="display:none">看看有沒有你喜歡的</a>
    <img src="../../Content/images/icon/leaf45.png" alt="">
</div>

<!-- Modal -->
<div class="modal fade" id="surpriseSectionContainer" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalScrollableTitle">你可能會想看</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="word-break: break-all;">
                <div style="text-align: left">
                </div>
                <div class="memberPrefer">
                    <!-- 文章 -->
                    <h5>文章標題</h5>
                    <hr>
                    文章內容QWEWQEWQEWQEWQEWQEQWEWQEQEWQE
                    <hr>
                    <button class="btn btn-light float-right" style="margin-right:0.75em"
                            onclick="location.href='#'">
                        進入文章查看更多
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="list-example" class="list-group scrollSpy">
    <a class="list-group-item list-group-item-action s1" href="#banner"></a>
    <a class="list-group-item list-group-item-action s2" href="#portfolio"></a>
    <a class="list-group-item list-group-item-action s3" href="#sentimentSection"></a>
    <a class="list-group-item list-group-item-action s4" href="#hotArticle"></a>
    <a class="list-group-item list-group-item-action s5" href="#footer"></a>
</div>
<div class="scrollSpyText">
    <p class="s1Text" style="visibility: hidden;">文藝富心</p>
    <p class="s2Text" style="visibility: hidden;">本週推薦</p>
    <p class="s3Text" style="visibility: hidden;">情緒專區</p>
    <p class="s4Text" style="visibility: hidden;">大家都在讀</p>
    <p class="s5Text" style="visibility: hidden;">關於我們</p>
</div>